<!DOCTYPE html>
<html>
<head>
    <title>Downtown Books: @ViewBag.Title</title>
</head>
<body>
    <header>Welcome to Downtown Books!</header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>Copyright 2021 Downtown Books</footer>
</body>
</html>