@{
    ViewBag.Title = "Home Page";
 }
<div class="product-info">
    <img src ="~/img/gucci.jpeg" width="300"/>
    <h2>Casa Gucci</h2>
    <ul class=" = "product-details">
        <li>Price: 6.99$</li> 
        <li>Title: Casa GUCCI</li>
        <li>
            Description: O poveste senzațională despre crimă, nebunie, strălucire și lăcomie

            Cartea care stă la baza filmului Casa Gucci (2021), regizat de Ridley Scott, cu Lady Gaga, Adam Driver, Jared Leto și Al Pacino în rolurile principale.

            Cine l-a ucis pe Maurizio Gucci?

            Pe 27 martie 1995, câteva împușcături au spart tăcerea de pe străzile elegante ale orașului Milano. Maurizio, moștenitorul imperiului Gucci, a fost ucis chiar când se pregătea să intre în biroul său. Doi ani mai târziu, șeful poliției din Milano dă buzna în somptuosul palat al „văduvei negre“, Patrizia Reggiani, și o arestează pentru crimă.

            Oare ea și-a ucis soțul, enervată de succesul lui? Sau poate din gelozie, fiindcă voia să se însoare cu o altă femeie?

            O cronică despre ascensiunea, prăbușirea și renașterea celei mai mari dinastii din lumea modei, o poveste despre crimă, ambiție și legăturile întunecate dintre membrii uneia dintre cele mai controversate familii din istoria modei.

            „O carte care se citește precum un thriller pe care abia poți să-l lași din mână. Un amestec narativ complex dintre drama unei familii și cifrele unei afaceri imense.“
            -The Economist
        </li>
    </ul>
    <button id="buyButton">Add to Cart</button>
</div>
